html {
  box-sizing: border-box;
  height: 100%;
  background-image: url ("achtergrondPYC.jpg");
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: hidden;
  background: black url("achtergrondPYC.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

img {
  width: 100%;
  background-color: transparent;
}

.car1 {
  margin-left:620px;
  margin-right: auto;
  position: absolute;
  left: 0;
  bottom: 55px;
  right: 0; 
  width: 50px;
  /*essential for determining offset*/
  height: 50px;
  /*essential for determining offset*/
  z-index: 1;
}

.car2 {
  margin-left:580px;
  margin-right: auto;
  margin-bottom: 0%;
  position: absolute;
  background-color: transparent;
  left: 0;
  bottom: 0;
  right: 0; 
  width: 120px;
  /*essential for determining offset*/
  height: 120px;
  /*essential for determining offset*/
  z-index: 1;
}

.car2 img{
  transform:rotate(90deg);
}

@keyframes beating {
  to {transform: scale(1.2);}
}

.park {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100px;
  /*essential for determining offset*/
  height: 100px;
  /*essential for determining offset*/
  z-index: -1;
}

.scoreboard {
  position: fixed;
  margin: 10px;
  padding: 15px;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 5, 5);
}

.scoreboard2 {
  position: fixed;
  margin: 10px;
  padding: 15px;
  left: 0;
  bottom: 90px;
  background-color: blue;
}

.driving{
  transition: width 2s, height 2s, background-color 2s, transform 2s;  
}